@media screen and (max-width: 650px){
    .login-div{
    background: #FFF;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding-bottom: 1rem;
    
}

.login-image-div{
    background: #EEF8F7;
    transform: skewY(-7deg);
    transform-origin: bottom left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
    padding: 2rem;
    position: relative;
}
.login-image{
    position: absolute;
        top:-25%;
        left: 50%;
    /* right: 100%; */

    width: 70%;
    transform: translate(-50%,50%);
}



.login-text-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    /* background-color: red; */
}
.login-hero{
    color: #438883;
        text-align: center;
        font-family: Inter;
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 700;
   
        text-transform: capitalize;
        text-wrap: wrap;
}
.login-btn{
    border-radius: 2.5rem;
        background: linear-gradient(180deg, #69AEA9 -17.19%, #3F8782 123.44%);
        display: flex;
        width: 100%;
        /* height: 4rem; */
    box-shadow: 0 10px 30px  #3F8782 ;
        padding: 0.625rem 1.25rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        flex-shrink: 0;
        border: none;
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2.375rem;
        /* 211.111% */
        letter-spacing: -0.0225rem;
        text-transform: capitalize;
}
.login-btn a{
    color: white;
    text-decoration: none;
}
.login-text-div p{
    color: #444;
    text-align: center;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.login-text-div p a{
    color: var(--GREEN, #438883);
        font-family: Inter;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        text-decoration: none;
}
.register{
    background-color: #2F7E79;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative;
    width: 100%;
    height: 100vh;
}
.register .shapee1{
    width: 30%;
    height: 30%;
    transform: rotate(45deg);
    border-radius: 10px;
    background:  #C1E3D6;
    position: absolute;
    top: -10%;
    left: -10%;

}
.register .shapee2{
    width: 30%;
    height: 30%;
    transform: rotate(-135deg);
    border-radius: 10px;
    background:  #C1E3D6;
    position: absolute;
    bottom: -10%;
    right: -10%;

}
.register form {
width: 80%;
margin:  auto;
    height: 80%;
    flex-shrink: 0;
    border-radius: 3.06813rem;
        /* background: rgba(255, 255, 255, 0.503); */
        backdrop-filter: blur(20rem);
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        color: white;
}
.register form .input-formss{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.register form h2{
/* color:  white; */
    text-align: center;
    font-family: Inter;
    font-size: 1.45163rem;
    font-style: normal;
    font-weight: 700;
    /* line-height: 4.48713rem; */
    /* 130% */
}
.register button{
display: flex;
width: 80%;
height: 7%;
padding: 0.625rem 1.25rem;
justify-content: center;
align-items: center;
gap: 0.625rem;
flex-shrink: 0;
border-radius: 2.5rem;
color: white;
margin-top: 1rem;
border: none;
background: linear-gradient(180deg, #69AEA9 -17.19%, #3F8782 123.44%);
box-shadow: 2px 2px 5px rgb(91, 89, 89);
}
.register form p{
color: var(--Paragraph, white);
    text-align: center;
    font-family: Inter;
    font-size: .71rem;
    font-style: normal;
    font-weight: 400;
    /* line-height: 1.86963rem; */
    /* 130% */
}
.register form .inputs input[type='email'], .register form .inputs input[type='text']{
    width: 100%;
    height: 2rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    border: 1px solid #DDD;
    padding: 0 .5rem;
}
.register form .inputs span{
    display: flex;
    align-items: center;
    width: 100%;
    height: 2rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    border: 1px solid #DDD;
    overflow: hidden;
    background-color: #fff;
    /* padding: 0 .5rem; */
}
.register form .inputs span input{
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    /* background: transparent; */
    padding: 0 .4rem;
}
.register form .inputs span svg{
    color: black;
    margin-right: .51rem;
}
 #error-message {
    font-family: inter;
    color: rgb(170, 255, 0);
    /* display: none; */
    /* font-size: 20rem; */
}
}
@media screen and (max-width: 375px) {
    .login-image {
            position: absolute;
            top: -20%;
            left: 50%;
            /* right: 100%; */
            /* background-color: red; */
    
            width: 60%;
            transform: translate(-50%, 40%);
        }
}
