.splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
  height: 100vh;
  width: 25.875rem;
  background: linear-gradient(167deg, #63b5af -4.48%, #438883 102.95%);
  text-decoration: none;
}
.splash-text {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.125rem;
  text-decoration: none;
}
