@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Shadows+Into+Light&display=swap');
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
/* 
 body{
    overflow-x: hidden;
 } */
 .navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: white;
    box-shadow: 0px -2px 25px 0px rgba(0, 0, 0, 0.04);
    width: 100%;
    height: 10%;
    padding: .5rem;
    z-index: 1;
    /* opacity: .2; */
   /* background-color: red; */
 }
 .navbar a svg{
   color:#AAAAAA;
   font-size: 2.3rem;
 }
 .navbar a.active svg{
   color: #408782;
 }
 .profileNwallet, .homeNStat{
   display: flex;
   justify-content: space-around;
   gap: .5rem;
   width: 50%;
 }

 .top {
   display: flex;
   width: 100%;
   justify-content: space-between;
   padding: 0 1rem;
   align-items: center;
 }
 .top p {
   color: #FFF;
   text-align: center;
   font-family: Inter;
   font-size: 1.125rem;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
 }

 .transaction-list h4 {
   color: #000;
   font-family: Inter;
   font-size: 1rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   letter-spacing: -0.02rem;
   text-transform: capitalize;
 }

 .transaction-list p {
   color: var(--Secondary, #666);
   font-family: Inter;
   font-size: 0.8125rem;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: -0.01625rem;
   text-transform: capitalize;
 }

 .transaction-list .prices {
   color: #25A969;
   text-align: right;
   font-family: Inter;
   font-size: 1.125rem;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   letter-spacing: -0.045rem;
   text-transform: capitalize;
 }

 .transactions {
   /* background-color:red; */
   padding: .8rem;
   border-radius: 10px;
   color: black;
   text-decoration: none;
   transition: ease .3s;
   box-shadow: 2px 2px 2px gray;
   margin-top: .5rem;
 }

 .transactions:hover {
   background: #29756F;
   color: white;
   cursor: pointer;
   /* display: none; */
 }

 .transactions:hover p,
 .transactions:hover h4,
 .transactions:hover .prices {
   color: white;
 }